/*==================== General ====================*/


* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

h1 {
	text-align: center;
	color: #fff;
	padding: 50px;
}

h3 {
	text-align: center;
	color: #333;
	padding: 10px 0;
}

form {
	padding: 10px;
}

svg {
	text-align: center;
}

input {
	border-radius: 10px;
	padding: 10px 20px;
	margin: 5px auto;
}

select {
	border-radius: 10px;
	padding: 5px 20px;
	margin: 5px auto;
}

button {
	border:none;
	border-radius: 10px;
	color: white;
	background-color: #011C7A;
	margin: 10px auto;
	padding: 10px 20px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}

/*==================== Main ====================*/

.limiter {
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	background: #333;
}

.split-container {
	text-align: center;
	height: 100%;
}

.single-container {
	display: inline-block;
	text-align: center;
	width: 30% !important;
	/*min-height: 500px;*/
	margin: 20px;
	padding: 10px auto;
	background: #fff;
	border-radius: 10px;
}

.center {
  margin: 20px auto;
  width: 50%;
  padding: 10px;
}

.tank-image {
	max-width: 50%;
	text-align: center;
}

.tank-svg {
	width: 100%;
}

.fluid-gradient {
	/*fluid gradient here*/
}